@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Work Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Oswald", sans-serif;
}

.logo-nav {
  max-width: 130px;
  width: 100%;
  padding: 10px;
} 
.logo-footer {
  max-width: 150px;
  width: 100%;
} 

nav {
  position: fixed;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  top: 0;
  background-color: #313131;
  font-size: 1.3rem;
  z-index: 20;
  text-transform: uppercase;
  min-height: 2rem;
  font-family: "Oswald", sans-serif;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
  }

  li {
    padding: 15px 10px 15px 10px;

    a {
      color: #ffffff;
      text-decoration: none;
      font-weight: 700;
      position: relative;

      &:hover {
        color: rgb(218, 31, 124);
      }

      &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: white;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
      }
  
      &:hover::after {
          transform: scaleX(1);
      }

    }
  }
}

section {
  display: block;
  width: 100%;
  background-color: hotpink;
}

.menu--section {
  padding: 120px 20px 100px 20px;
  min-height: min-content;
  background-color: hotpink;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  &:nth-child(2) {
    background-color: rgb(13, 145, 168);
  }
  &:nth-child(3) {
    background-color: rgb(194, 141, 26);
  }
  &:nth-child(4) {
    background-color: rgb(87, 20, 173);
  }
  &:nth-child(5) {
    background-color: rgb(93, 148, 5);
  }
  &:nth-child(6) {
    background-color: rgb(87, 61, 61);
  }

  h2 {
    font-size: clamp(2rem, 4rem, 5rem);
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
    line-height: 4rem;
  }
}

// This rule ensure that they event listener set to menu item still fires if the user clicks on any of the child elements.
.menu-item > * {
  pointer-events: none;
}

.menu-item {
  font-size: 1.4rem;
  width: 90%;
  max-width: 500px;
  display: flex;
  padding: 0.8em;
  margin-bottom: 1rem;
  background-color: #ffffff;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all ease-in-out 0.2s;

  &:hover {
    box-shadow: 2px 2px 15px 5px #00000061;
    border-left: 20px solid rgb(54, 54, 54);
  }
}

.soldout {
  pointer-events: none;
  position: relative;
  background-color: rgba(88, 88, 88, 0.466);

  &:after {
    content: "Sold Out";
    display: block;
    background-color: red;
    color: white;
    position: absolute;
    opacity: 1;
    top: -5px;
    left: -10px;
    padding: 0.3em;
    font-size: 1rem;
    box-shadow: 2px 2px 9px -3px #00000082;
  }
}

// MODAL

.modal--container {
  display: none;
}

.show {
  display: block;
}

.modal--container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.445);
  z-index: 30;
}

.modal--btn-close {
  display: block;
  margin-left: auto;
  cursor: pointer;
  width: 30px;
  height: 30px;

  img {
    width: 30px;
    height: 30px;
  }
}

.modal--content {
  width: 90%;
  max-width: 600px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 20px;

  form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 1em;

    label {
      display: contents;
    }

    .order-details {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;
      width: 100%;
      font-size: 1.5rem;
      justify-content: space-around;
      span {
        text-align: center;
        padding: 0.5em 0em;
      }
    }

    .order-quantity {
      width: 100%;
      max-width: 200px;
      text-align: center;
      font-size: 1.5rem;
      margin: 1.5em 0em;
      height: 40px;
      display: flex;
      align-content: center;
      justify-content: space-evenly;
      align-items: center;

      .btn--quantity-change {
        background-color: hotpink;
        color: white;
        padding: 20px;
        border: none;
        display: inline-block;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: rgb(112, 19, 66);
        }
      }
    }

    .btn--addtoorder {
      background-color: hotpink;
      color: #ffffff;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      padding: 1em;
      font-size: 1.2rem;

      &:hover {
        background-color: rgb(175, 3, 89);
      }
    }
  }
}

.input--quantity {
  text-align: center;
  font-size: 1.5rem;
  margin: 0px 10px 0px 10px;
  padding: 10px;
  max-width: 50%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

// FOOTER

footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 2rem;

  .footer--heading {
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem;
  }
  .footer--columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .footer--col {
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    max-width: 400px;

    h4 {
      margin-bottom: 1em;
    }
    ul,
    li {
      margin-left: 15px;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 0px;

  svg {
    fill: #ffffff;
    width: 30px;
    height: auto;
    margin: 10px 15px 0px 0px;
    transition: all ease-in-out 1.5s;

    &:hover {
      fill: hotpink;
      transform: scale(1.2);
    }
  }
}
.burger {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  padding: 10px;
  
  div {
  display: none;
  background-color: #ffffff;
  display: block;
  width: 25px;
  height: 1px;
  margin: 3px 0px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    justify-content:space-between ;
    
    ul {
    position: absolute;
    right: 0px;
    top: 64px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
  }

  .burger {
    display: flex;
  }
}
}